@*Below line is one way to assign layout to component*@
@layout SimpleLayout

@page "/counter"
@page "/counter/{StarterValue:int}"

@using ExploreBlazorServer.Data
@inject ICounterService CntrService

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<p @onmouseover="IncrementCount" role="status">Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>


