<h3>ParameterSample with Param1 value:@Param1Value</h3>

@code {

    [Parameter]
    public int Param1 { get; set; }

    private int Param1Value;

    /// <summary>
    /// This method will be called once all parameter values
    /// are set for the particular component
    /// </summary>
    protected override void OnParametersSet()
    {
        base.OnParametersSet();
        Param1Value = Param1;
    }

}
