@inherits LayoutComponentBase

<PageTitle>ExploreBlazorServer</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
        </div>

        <article class="content px-4">
            @*All content of any razor component will be rendered here*@
            @Body
        </article>
    </main>
</div>
