@*Page that lists all users *@

@page "/HWDirectory"
@using ExploreBlazorServer.Model.ComponentHW;
<h3>HWDirectoryComponent</h3>
<div class="row">
    @foreach (var u in UserList)
    {
        <div class="col-4">
            <UserComponent FirstName="@u.FirstName" LastName="@u.LastName" Message="@u.Message">
            </UserComponent>
        </div>
    }
</div>

@code {
    private List<UserModel> UserList = new List<UserModel>();

    public HWDirectoryComponent()
    {
        UserList = new List<UserModel>();
        UserList.Add(new UserModel() { FirstName = "Under", 
        LastName = "Taker", Message = "Never dies" });
        UserList.Add(new UserModel() { FirstName = "John", 
        LastName = "Cena", Message = "U can't see me" });
        UserList.Add(new UserModel() { FirstName = "Huri", 
        LastName = "Cane", Message = "Flexi" });
    }
}
