@page "/fileuploads"

<InputFile OnChange="@LoadFiles" multiple />

@*Equivalent html for above line*@
@*<input multiple="" type="file" _bl_2="">*@


@*Below sample is not working. Check whether nuget package and js file is required or not*@
<div class="drag-drop-zone">
    <InputFile OnChange="@DragDropLoad">

    </InputFile>
    @dragdropstatus
</div>

@code
{
    private void LoadFiles(InputFileChangeEventArgs e)
    {
        Console.WriteLine($"Uploaded {e.FileCount} file");
        FileContentRead(e);
    }

    private async void FileContentRead(InputFileChangeEventArgs e)
    {
        await using FileStream fs = new("", FileMode.Create);
        await e.File.OpenReadStream().CopyToAsync(fs);
    }

    public string dragdropstatus = "";
    private void DragDropLoad(InputFileChangeEventArgs e)
    {
        Console.WriteLine("Drag drop load event");
    }

}