@page "/milkshakeordersheet"
@inject IDataAccessService dataService
@using ExploreBlazorServer.Data.FormConclusion;
@using ExploreBlazorServer.Model.FormConclusion;

<h3>MilkshakeOrderSheet</h3>

<EditForm Model="@order">
    <p>
        <label>
            Type of MS:
            <InputSelect @bind-Value="order.TypeofMilkshake">
                <option value="">Select ms type</option>
                @foreach(var t in msTypes)
                {
                    <option value="@t">@t</option>
                }
            </InputSelect>
        </label>
    </p>
</EditForm>

@code {
    private MilkshakeOrderModel order = new MilkshakeOrderModel();
    private List<string> msTypes;
    private List<string> msSizes;

    protected override void OnParametersSet()
    {
        base.OnParametersSet();
        msTypes = dataService.GetMSType();
        msSizes = dataService.GetMSSize();
    }

    public MilkshakeOrderSheet()
    {

    }
}
